<div class="contact">
    <!-- <h1 class="text-color">CONTACT US</h1> -->
    <section class="contact-us">
        <video autoplay loop>
            <source src="../assets/bg-video.MP4" type="video/mp4">
            <!-- <source src="movie.ogg" type="video/ogg"> -->
            Your browser does not support the video tag.
        </video>
        <div class="form">
            <div>
                <h2>SEND US MESSAGE</h2>
                <div>
                    <mat-form-field>
                        <mat-label>Name</mat-label>
                        <input matInput placeholder="Enter Name" [(ngModel)]="contactData.name" required>
                    </mat-form-field>
                </div>
                <div>
                    <mat-form-field>
                        <mat-label>Email</mat-label>
                        <input matInput placeholder="Enter Email" [(ngModel)]="contactData.email">
                    </mat-form-field>
                </div>
                <div>
                    <mat-form-field>
                        <mat-label>Phone No</mat-label>
                        <input type="number" maxlength="10" matInput placeholder="Enter Phone No." [(ngModel)]="contactData.number" required>
                    </mat-form-field>
                </div>
                <div>
                    <mat-form-field>
                        <mat-label>Your Message</mat-label>
                        <textarea matInput placeholder="Your Message" [(ngModel)]="contactData.msg" required></textarea>
                    </mat-form-field>
                </div>
                <button mat-raised-button (click)="sendEmail(contactData)" [disabled]="!(contactData.name && contactData.number && contactData.msg)">Submit</button>
            </div>
            <!-- <div>
            <h2>CONTACT INFO</h2>
            
        </div> -->
        </div>
    </section>
</div>

<router-outlet></router-outlet>