<section class="about-us">
    <div class="flex about-us-container">
        <!-- <div class="about-bg">
        </div> -->  
        <div class="about-text">
            <p align="justify"><span class="about-head">PETALS ART DÉCOR</span> is a wholly-owned interior design company based in the Delhi area since 2016, which
                combines expertise in interior design whether residential or commercial. Whether you need a quick
                refresh of
                furniture and paint colors, or a whole-house renovation, we can provide the technology to ensure the
                project
                is running smoothly and give you great results.</p>
                <p align="justify">
                As a small design firm, we are very flexible. We have relationships with many local artists and small
                builders, so you can be sure your project is being completed at the highest possible levels. Or, if you
                prefer, you can hire your own contractors, and we will work with them throughout the restoration process
                as
                an consultant.
            </p>
        </div>
    </div>
    <div class="team-container">
        <div class="team-pics" *ngFor="let item of team">

        </div>
    </div>
</section>

<router-outlet></router-outlet>