<section class="about-us">
    <div class="flex about-us-container">
        <!-- <div class="about-bg">
        </div> -->
        <div class="about-text">
            <p align="justify"><span class="about-head">PETALS ART DÉCOR</span> believes in transformative power of
                illustration. We work towards achieving a level of interior design which engages, inspire and elevate
                experiences everywhere. Our services includes budget ideas, make overs, trending design and consultancy
                within residential and commercial spaces.</p>
            <p align="justify">
                In this business of trust, we prioritise consumers comfort and opinion, in collaboration with our
                skillset of design and delivery to get a pleasing end product. Dynamic nature of interior designing
                tends people to get confused about which material to choose, their quality and the colour combinations.
                We offer interior planning experience through our 2d, 3d visualisation technology and ensure you get
                exactly what was promised through rigorous quality check, uses of quality material used, timely delivery
                and transparent pricing spaces. 
            </p>
        </div>
    </div>
    <!-- <div class="team-container">
        <div class="team-pics" *ngFor="let item of team">

        </div>
    </div> -->
</section>

<router-outlet></router-outlet>