<!-- 
<div class="project-service-container">
    <div *ngFor="let item of whatWeDo">
        <img src="../../assets/{{item.image}}">
    </div>
</div> -->

<div class="image-sldier">
    <ng-image-slider #slider [images]="imageObject" [infinite]="true" [animationSpeed]="1" [slideImage]="imageSlideCount"
        [imageSize]="{width:'400px', height:imageSlideCount ==1 ? '320px' : '300px', space: 3}" [autoSlide]="3"></ng-image-slider>
</div>

<div id="portfolio">
    <!-- <h1 class="text-color">OUR PORTFOLIO</h1> -->
    <div class="heading-container text-color">
        <div class="head-item" *ngFor="let item of whatWeDo" [ngClass]="{'selected': selectedFilter.heading === item.heading }"
            (click)="filterProjects(item)">
            {{item.heading}}
        </div>
        <mat-form-field>
            <mat-select [value]="selectedFilter.heading">
                <mat-option *ngFor="let item of whatWeDo" [value]="item.heading" (click)="filterProjects(item)">
                    {{item.heading}}
                </mat-option>
            </mat-select>
        </mat-form-field>
    </div>
    <ul class="heroes pf-container">
        <li *ngFor="let img of filterPortFolio; let i=index" class="pf-repeater">
            <img src="../../assets/portfolio/{{img.src}}">
            <div class="hover-content">
                <a class="text-color" (click)="enlarge(img.slider)">SEE PROJECT <i
                        class="fa fa-angle-right fa-lg"></i></a>
            </div>
        </li>
    </ul>
</div>

<div>
    <ng-image-slider style="display: none;" #portfolio (lightboxClose)="imageSliderClose()" [images]="sliderImages"
        [infinite]="true" [animationSpeed]="1"></ng-image-slider>
</div>