<header class="header">
    <img src="../../assets/logo-eps-svg.svg" routerLink='home'>
    <nav>
        <ul class="list-container">
            <li *ngFor="let menu of navbarMenu" routerLinkActive="active-link" routerLink='{{menu.redirectTo}}'>
                {{menu.value}}
            </li>
        </ul>
    </nav>
    <div class="resp-menu" [ngClass]="{'close-menu': toggleNav}" (click)="openMenu()">
        <span class="one"></span>
        <span class="zero"></span>
        <span class="two"></span>
    </div>
    <div class="menu-sm" [ngClass]="{'slide-menu': toggleNav}">
        <ul class="menu-in" *ngIf="toggleNav" [ngClass]="{'show-delay': toggleNav}">
            <li *ngFor="let menu of navbarMenu" (click)="closeMenu()" routerLink='{{menu.redirectTo}}'>
                {{menu.value}}
            </li>
        </ul>
    </div>
</header>
<div class="content-container" [ngStyle]="{'top': currentActiveRoute=='/about-us' ? '20px' : '-126px'}">
    <div class="route-bg" *ngIf="currentActiveRoute && activeRoute[currentActiveRoute]">
        <img src="../assets/{{activeRoute[currentActiveRoute].image}}">
        <div class="route-content">
            <div class="text-color route-heading">{{activeRoute[currentActiveRoute].name}}</div>
            <!-- <div class="route-link"><a [routerLink]="['home']" class="text-color"
                    style="text-decoration: unset;">Home</a> / {{activeRoute[currentActiveRoute].name}}</div> -->
        </div>
    </div>
    <router-outlet></router-outlet>

    <footer>
        <div class="bg-color marquee">
            <div class="quoatation-container bg-color">
                <p style="margin: 0; font-size: 40px;">Affordable, Reliable & Competent designs that reflects your
                    personality.</p> <a routerLink="/contact-us">GET
                    QUOTATION</a>
            </div>
        </div>
        <div class="footer-container">
            <div>
                <img src="../assets/logo-eps-svg.svg">
                <p class="company-intro" align="justify">
                    An interior design firm based in the Delhi area, which
                    combines expertise in interior design whether residential or commercial. Whether you need a quick
                    refresh of
                    furniture and paint colors, or a whole-house renovation, we can provide the technology to ensure the
                    project
                    is running smoothly and give you great results.
                </p>
            </div>
            <div class="footer-contact">
                <h2 class="contact-heading text-color">CONTACT US</h2>
                <p>C-11/110 &nbsp; Sector-3 Rohini Delhi-110085</p>
                <p><span class="text-color" style="padding-right: 15px;">Phone:</span> +91-9873779876</p>
                <p><span class="text-color" style="padding-right: 19px;">Email:</span> info@petalsartdecor.com</p>
                <p><span class="text-color" style="padding-right: 30px;">Web:</span> www.petalsartdecor.com</p>
                <p><span class="text-color" style="padding-right: 22px;">Open:</span> Monday - Sunday &nbsp; 09:30 -
                    18:30</p>
            </div>
        </div>
        <div class="copyright">
            © Copyright 2020 - Petals Art Decor, <span class="text-color"> Interior Design Firm</span>
            <div class="social-icons">

                <a href="https://www.facebook.com/petalsartdecor/" target="_blank">
                    <i class="fa fa-facebook fa-lg text-color"></i>
                </a>
                <a href="https://www.instagram.com/petalsartdecor?r=nameTag" target="_blank">
                    <i class="fa fa-instagram fa-lg text-color"></i>
                </a>
                <a href="https://wa.me/919873779876" target="_blank">
                    <i class="fa fa-whatsapp fa-lg text-color"></i>
                </a>
            </div>
        </div>
        <a></a>
        <span id="siteseal">
            <script async type="text/javascript"
                src="https://seal.godaddy.com/getSeal?sealID=YitqlDa5AshbwEYPA0v4w50IJyrviRnJW8s0MV4xOdmBcNGUuhcKq15xOBEM">
                </script>
        </span>
    </footer>
    <div class="back-to-top bg-color" #goToTop (click)="scrollTop($event)">
        <a>
            <i class="fa fa-angle-up fa-lg"></i>
        </a>
    </div>
</div>

<!-- <div appParallax [ratio]="0.9" id="square"></div>
<div appParallax [ratio]="0.5" id="circle"></div>
<div appParallax [ratio]="0.9" id="rectangle"></div> -->
