
<section>
    <div *ngFor="let item of whatWeDo" class="what-we-do" [ngStyle]="{'flex-direction': item.flexDirection}">
        <div class="left-what-we-do">
            <h2 class="text-color">{{item.heading}}</h2>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
                ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu
                fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia
                deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem
                accusantium doloremque laudantium.
            </p>
            <a class="text-color" href='/projects'>SEE MORE <i class="fa fa-angle-right fa-lg"></i></a>
        </div>
        <div class="right-what-we-do">
            <img src="../../assets/{{item.image}}">
        </div>
    </div>
</section>

<router-outlet></router-outlet>