
<section class="service-container">
    <div *ngFor="let item of whatWeDo" class="what-we-do" [ngStyle]="{'flex-direction': item.flexDirection, 'background-color': item.bgColor}">
        <div class="left-what-we-do">
            <h2 style="margin-top: 16px;" class="text-color">{{item.heading}}</h2>
            <div class="separator" style="background-size: cover;">
                <span>
                    <i class="fa fa-circle"></i>
                </span>
            </div>
            <p [ngStyle]="{'margin-bottom': item.marginBottom}"> 
                {{item.content1}}
            </p>
            <p *ngIf="item.content2" [ngStyle]="{'margin-top': item.marginBottom}">
                {{item.content2}}
            </p>
            <a class="text-color" routerLink="/projects" [queryParams]="{filter: item.filter}">SEE PROJECTS <i class="fa fa-angle-right fa-lg"></i></a>
        </div>
        <div class="right-what-we-do">
            <img src="../../assets/portfolio/{{item.image}}">
        </div>
    </div>
</section>

<router-outlet></router-outlet>