
<section id="section-welcome" class="bg-loop bg-fit-height full-height" [ngStyle]="{'background-position': bgPosition}">
</section>

<section>
    <div *ngFor="let item of whatWeDo" class="what-we-do" [ngStyle]="{'flex-direction': item.flexDirection}">
        <div class="left-what-we-do">
            <h2>{{item.heading}}</h2>
        </div>
        <div class="right-what-we-do">
            <img src="../assets/{{item.image}}">
        </div>
    </div>
</section>

<section class="our-process-section">
    <div class="our-process">
        <div *ngFor="let item of ourProcess" class="circular-process">{{item.value}}</div>
    </div>
</section>

<router-outlet></router-outlet>