
<section id="section-welcome" class="bg-loop bg-fit-height full-height" [ngStyle]="{'background-position': bgPosition}">
</section>

<section>
    <div *ngFor="let item of whatWeDo" class="what-we-do" [ngStyle]="{'flex-direction': item.flexDirection}">
        <div class="left-what-we-do">
            <h2>{{item.heading}}</h2>
        </div>
        <div class="right-what-we-do">
            <img src="../assets/{{item.image}}">
        </div>
    </div>
</section>

<section class="our-process-section">
    <h2>OUR PROCESS</h2>
    <div class="our-process">
        <div *ngFor="let item of ourProcess" class="circular-process">{{item.value}}</div>
    </div>
</section>

<section>
<h2>TESTIMONIALS</h2>
<div>

</div>
</section>

<section class="experience-container">
    <div class="experience-item" *ngFor="let item of experienceWithUs" [ngClass]="{'experience-item-centre': item.centre}">
        <h2 class="text-color contact-heading">{{item.heading}}</h2>
        <p align="justify">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae.</p>
    </div>
</section>

<router-outlet></router-outlet>