<section id="section-welcome" class="section-welcome bg-loop bg-fit-height full-height"
    [ngStyle]="{'background-position': bgPosition}">
    <div class="text">
        <p>OUR EXPERTISE FOR</p>
        <h1 class="text-color">INTERIOR DESIGN</h1>
        <a href='/projects'>VIEW OUR WORK <i class="fa fa-angle-right fa-lg text-color"></i></a>
    </div>
</section>

<section class="what-we-do-section" style="padding: 10px 0">
    <div class="quoatation-container bg-color">
        <p style="margin: 0;">We love to make you more comfort on your home</p> <a href="/contact-us">GET QUOTATION</a>
    </div>
    <div *ngFor="let item of whatWeDo" class="what-we-do" [ngStyle]="{'flex-direction': item.flexDirection, 'background-color': item.bgColor}">
        <div class="left-what-we-do">
            <h2 class="text-color">{{item.heading}}</h2>
            <div class="separator" style="background-size: cover;">
                <span>
                    <i class="fa fa-circle"></i>
                </span>
            </div>
            <p>
                {{item.content1}}
            </p>
            <a class="text-color" href='/projects'>SEE PROJECTS <i class="fa fa-angle-right fa-lg"></i></a>
        </div>
        <div class="right-what-we-do">
            <img src="../assets/{{item.image}}">
        </div>
    </div>
</section>

<section class="our-process-section">
    <h1 class="text-color">OUR PROCESS</h1>
    <div class="separator" style="background-size: cover;">
        <span>
            <i class="fa fa-circle"></i>
        </span>
    </div>
    <div class="our-process">
        <div *ngFor="let item of ourProcess" class="circular-process">
            {{item.value}}
        </div>
    </div>
</section>

<!-- <section class="testimonials-section">
    <h2>TESTIMONIALS</h2>
    <div>

    </div>
</section> -->
<section id="portfolio">
    <h1 class="text-color">OUR PORTFOLIO</h1>
    <div class="separator" style="background-size: cover;">
        <span>
            <i class="fa fa-circle"></i>
        </span>
    </div>
    <ul class="pf-container">
        <li *ngFor="let img of portfolio" class="pf-repeater">
            <img src="../assets/portfolio/{{img.src}}">
            <div class="hover-content">
                <span>Demo Images</span>
            </div>
        </li>
    </ul>
</section>

<section class="experience-container">
    <div class="experience-item" *ngFor="let item of experienceWithUs"
        [ngClass]="{'experience-item-centre': item.centre}">
        <div class="icon">
            <i class="fa {{item.faIcon}} fa-lg"></i>
        </div>
        <div>
            <h2 class="text-color exp-head">{{item.heading}}</h2>
            <p align="justify">{{item.description}}</p>
        </div>
    </div>
</section>

<router-outlet></router-outlet>
